.edu-info{
  display: flex;
  margin-top: 6rem;
  justify-content: center;
}

.edu-text{
  width: 600px;
  text-align: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: transparent;
  text-shadow: 0 0 8px #000; 
  transition: 0.5s;
}

.edu-text:hover{
  text-shadow: none;
  transition: 0.5s;
  z-index: 1;
  background-color: white;
  color: rgb(128, 128, 128);
}

.education-prog{
  display: flex;
  position:absolute;
  z-index: 0;
  top: 20%;
  font-size: x-large;
}