footer{
  background-color: white;
  position:relative;
  bottom: 0;
  min-width: 100%;
  z-index: 2;
}
.footer-content{
  display: flex;
  justify-content: space-evenly;
  background: #485563;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;

}
.footer-info{
  margin-top: 30px;
  margin-bottom: 30px;
  color: white;
  font-size: 13px;
  display: flex;
  flex-direction: column;
}

.contact{
  font-size: 14px;
  font-weight: bold;
}
.footer-logo{
  height: 120px;
}
.footer-content a{
  margin-top: 1.5px;
}
.location{
  cursor: pointer;
}
.location-icon{
  height: 10px;
  padding-top: 2px;
}
.fb-logo{
  width: 17px;
  margin-top: 2px ;
}
.social-text{
  font-weight: bold;
  font-size: 14;
}
.facebook{
  display: flex;
  align-items: center;
}
.facebook p{
  color: lightblue;
  margin-left: 3px;
}
.facebook a{
  cursor: pointer;
}
.website-sxolh{
  color: white;
  font-weight: bold;
  font-size: 13px;
}
.footer-info a{
  cursor: pointer;
  color: lightblue;
}

@media (max-width: 768px) {
  /* Styles for mobile devices */
  .footer-content {
    flex-direction:column;
    align-items:flex-start;
    padding-left: 15px;
    justify-content:baseline;
    margin-top: 0px;
  }
}
@media (max-width: 768px) {
  /* Styles for mobile devices */
  .footer-info {
    margin-top:10px;
  }
}