.home-info{
  display: flex;
  flex-direction: column;
}
.support{
  display: block;
  margin: auto;
  border-top: 1px solid rgb(129, 129, 129);
  border-bottom: 1px solid rgb(129, 129, 129);
}

.placeholder{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  align-items: center;
}
.placeholder img{
  margin-left: 4px;
}
.museum-info h1{  
  border-top: 1px solid rgb(128, 128, 128);
  border-bottom: 1px solid rgb(128, 128, 128);
}
.museum-text-box{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;  
  flex-direction: column;
  margin-top: 60px;
  border-top: 1px solid rgb(128, 128, 128);
  border-bottom: 1px solid rgb(128, 128, 128);
}

.museum-text-info{
  width: 600px;
  text-align: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: transparent;
  text-shadow: 0 0 8px #000; 
  transition: 0.5s;
  
}

.text-box-header{
  display: flex;
  position:absolute;
  z-index: 0;
  top: 36%;
  font-size: x-large;
}

.museum-text-info:hover{
  text-shadow: none;
  transition: 0.5s;
  z-index: 1;
  background-color: #EEF4F7;
  color: rgb(128, 128, 128);
}

.museum-skopos{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;  
  flex-direction: column;
  border-bottom : 1px solid rgb(128, 128, 128);
  margin-bottom: 20px;
}
  
.skopos-text{
  width: 600px;
  text-align: center;
  align-items: center;
  color: transparent;
  margin-top: 20px;
  margin-bottom: 20px;
  text-shadow: 0 0 8px #000; 
  transition: 0.5s;
}
.skopos-head{
  display: flex;
  position:absolute;
  z-index: 0;
  top: 40%;
  font-size: x-large;
}

.skopos-text:hover{
  text-shadow: none;
  transition: 0.5s;
  z-index: 1;
  background-color: #EEF4F7;
  color: rgb(128, 128, 128);
}

.edu-text{
  width: 600px;
  text-align: center;
  align-items: center;
  color: transparent;
  margin-top: 20px;
  margin-bottom: 20px;
  text-shadow: 0 0 8px #000; 
  transition: 0.5s;
}

.edu-text:hover{
  text-shadow: none;
  transition: 0.5s;
  z-index: 1;
  background-color: #EEF4F7;
  color: rgb(128, 128, 128);
}
.edu-text-box{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;  
  flex-direction: column;
  border-bottom : 1px solid rgb(128, 128, 128);
  margin-bottom: 20px;
}

.sponsors-logos{
  cursor: pointer;
}
.dionmotors{
  margin-top: 20px;
}