* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  height: 85vh;
  position: relative;
  margin: auto;
  overflow: hidden;
  border: 1.3px solid rgb(128, 128, 128);
  opacity: 0.5;
  transition: 0.6s;
  display: flex;
}
.slide{
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;

  z-index: 400;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade; 
  animation-duration: 1.5s;
  width: 100%;
  height: 100%;
}

@keyframes fade {
  from {opacity: .8}
  to {opacity: 1}
}

.carous{
  width: 100%;
  height: 100%;
  object-fit:cover;
}


.carous-text{
  position: absolute;
  top: 45vh;
  width: 100%; 
  text-align: center;
  z-index: 1;
  font-family: 'Righteous', cursive;
  font-size: 80px; 
  color: rgb(51, 51, 51);
}
.carous-text-2{
  position: absolute;
  top: 60vh;
  width: 100%; 
  text-align: center;
  z-index: 1;
  font-family: 'Righteous', cursive;
  font-size: 25px; 
  color: rgb(51, 51, 51);
}

.slideshow-container:hover{
  opacity: 1;
  z-index: 2;
  transition: 0.6s;
}

/* Styles for mobile version */
@media (max-width: 768px) {
  .slideshow-container {
    height: 500px; /* Adjust the height as needed for mobile */
    width: 500px;

  }

  .slideshow-container img {
    width: 150%; /* Make the images responsive by setting width to 100% */
    height: 100%; /* Adjust the height as needed for mobile */
    object-fit: cover;
    object-position: left;
  }
  .carous-text{
    top: 30vh;
  }
}