
body{
  background-color: whitesmoke;

}
.header{
  height: 60px;
  display: flex;
  justify-content:space-between;


  background-color: rgb(238, 238, 238);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(228, 228, 228);
  box-shadow: inset 1x 2px 3px rgba(0, 0, 0, 0.05);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}






.logo{
  height: 60px;
  margin-top: 0px;
}
.logo2{
  height: 60px; 
  
}

.logo-button:hover{
  cursor: pointer;
}

.right-section a{
  color: black;
  
}

.right-section {
  display: flex;
}
.button{
  text-decoration: none;
  -webkit-user-drag: none;
  margin-top: 19px;
  border: none;
  border-radius: 2px;
}
 .button:hover{
  border-bottom: 1px solid black;

 }
 .text{
  margin: 5px;
  font-size: 10px;
  font-family
 }
.button:active {
  background-color: rgb(170, 166, 166);
  transition: 1s;
  opacity: 0.9;
} 
 .box{
  margin-right: 10px;
  
 }
 




